@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h2>Add a flavor</h2>

<h4>Add a flavor to @Html.DisplayFor(model => model.TreatName)</h4>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Create new flavor", "Create", "Flavors")</p>